@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky {
  position: fixed;
  top: 0;
}

.navItem:hover .subnav {
  opacity: 1;
  visibility: visible;
}

.newsCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
}
